$primary-color: #FF4E2C;
$secondary-color: #CD3100;

.bg-primary{
  background-color: $primary-color !important;
}

.bg-secondary{
  background-color: $secondary-color !important;
}

.text-color-primary{
  color:$primary-color !important;
}

.text-color-secondary{
  color: $secondary-color !important;
}